html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
:root {
  --white: #ffffff;
  --middle-grey: #868686;
  --dark-grey: #252525;
  --black: #000000;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
/* navbar */

.links {
  background: #f4f4f4;
  display: flex;
  width: 100vw;

  /* height: 4rem; */
}
.link-items {
  margin: 0 auto;
  padding: 2rem;
}
.link-items a {
  color: #868686;
  margin: 0 1rem;
}
.link-items a:hover {
  color: #687988;
}
/* intro */

/* .intro {
  position: relative;
} */
.intro {
  display: flex;
  flex-flow: column nowrap;
  background-image: url(images/IMG_20190812_Jos.jpg);
  background-size: 100% auto;
  align-items: flex-end;
  /* padding: 9rem 3rem 15rem 0; */
}
.intro-items {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  margin: 19vw 4vw 10vw 0;
}
.intro-text {
  width: 25vw;
  color: #f4f4f4;
  line-height: 1.3rem;
}

.intro-title {
  color: #f4f4f4;
}
.intro-title h1 {
  font-size: 4vw;
  margin: 0;
}
.intro-title p {
  font-size: 1.5vw;
  margin: 0;
}

.intro-text p {
  padding: 0 2rem 0 0;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  /* background: #f4f4f4; */
  background-image: url(images/IMG_20190813_105014_copy.jpg);
}

.work-items {
  /* background-image: url(images/IMG_20190813_105014_copy.jpg); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 3vw auto;
  grid-gap: 2rem;
}

.work-title {
  width: 100vw;
  background: #f4f4f4;
}
.work-title h2 {
  color: #252525;
  padding: 2vw;
  font-size: 3vw;
  margin: 0;
  text-align: center;
}

.work-item {
  width: 27vw;
  padding: 1vw 2vw 4vw 2vw;
  background-color: #f4f4f4;
  border-radius: 5%;
  
}
.work-item img {
  width: 100%;
  display: block;
 
}
.work-items video {
  width: 100%;
  display: block;
}
